body {
    text-align: center;
    margin:0;
        padding-top:800px;
    color:blueviolet;
}
.profile {
    width:175px;
    margin-bottom: 50px;
    border-radius: 50%;
    
}

.unlisted {
   list-style: none;
    position: fixed;
    font-family: cursive;
    top: 0px;
    margin-top: 0px;
    width: 100%; 
    z-index: 10; 
    cursor:pointer;
}

.link {
    font-family: sans-serif;
    font-size: 20px;
    display:inline;
    padding-left: 33px; 
    padding-right: 25px; 
    } 

.link:hover {
    
    font-size: 25px; 
    text-decoration: underline; 
}
#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#f0c27b,#4b1248);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
        }
h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    
}
h2 {
    font-size: 30px;
    line-height: 1.2;
    font-family:monospace;
    font-weight: 300;
    
}
#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Nerko One', cursive;
}
#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;
}
.line {
    height: 6px;
    width: 70px;
    background-color: #000;
    margin:8px auto;
    
}
p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}
.parellel-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

a {
    text-decoration: none; 
    color:darkturquoise; 
    text-shadow: 2px 2px grey;
}

.articles: hover {
    color: deeppink;
}

html {
    scroll-behavior: smooth; 
}

#writings a{
text-shadow: none !important; 
color: fuchsia !important;
    text-decoration: underline !important;
}

#contacts iframe{
    width: 100%;
}

#contact h3{
    display: inline;
}